

body{
	text-align: center;

}

tbody, colgroup {
	border: 4px solid;
}

td, tr {
	border: 2px solid;
	height: 40px;

}

table {
    width: 400px;
    margin: auto;
	border: 4px solid black;
}