body{
	text-align: center;

}

table, td, tr {
    border: 2px solid black;
}

table{
    width: 500px;
	margin: auto;
}

td {
    height: 50px;
}

#main{
	border-collapse: collapse;

}

#one {
	border-color: green;
	border-top: 2px solid green;
}

#two {
	border: 2px solid red;
}

#three{
	border-color: blue;
	border-bottom: 2px solid blue;
	}
/*
.class1{

}
 .class2{

 }

 .class3 {

 }