

body{
	text-align: center;

}

tbody, colgroup {
	border: 4px solid;
}

td, tr {
	border: 2px solid;
	height: 40px;

}

table {
    width: 400px;
    margin: auto;
	border: 4px solid black;
}


/*
table, td, tr {
    border: 2px solid black;
}

table{
    width: 500px;
	margin: auto;
}

td {
    height: 50px;
}

#main{
	border-collapse: collapse;

}

#one {
	border-color: green;
	border-top: 2px solid green;
}

#two {
	border: 2px solid red;
}

#three{
	border-color: blue;
	border-bottom: 2px solid blue;
	}
*/
